<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="descricao">
      <mat-header-cell *matHeaderCellDef>Descrição</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.descricao}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="professores">
      <mat-header-cell *matHeaderCellDef>Professores</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button
          color="primary"
          mat-icon-button
          (click)="exibirProfessores(element.professores)"
        >
          {{ element.professores.length }}
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dataInicio">
      <mat-header-cell *matHeaderCellDef>Data início</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.dataInicio | date:'dd/MM/yyyy'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dataTermino">
      <mat-header-cell *matHeaderCellDef>Data término</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.dataTermino | date:'dd/MM/yyyy'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="segmento">
      <mat-header-cell *matHeaderCellDef>Segmento</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.segmento}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef fxFlex="10">
        Ações
      </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="10" class="buttons">
        <button
          mat-icon-button
          (click)="exibirQrcode(element)"
        >
          <mat-icon>smartphone</mat-icon>
        </button>
        <button
          (click)="editar(element.id)"
          mat-icon-button
          color="primary"
          mdTooltip="Editar"
        >
          <mat-icon class="mat-24" aria-label="Editar">
            edit
          </mat-icon>
        </button>
        <button (click)="excluir(element.id)" mat-icon-button color="danger" mdTooltip="Excluir">
          <mat-icon class="mat-24" aria-label="Excluir">
            delete
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <button mat-fab color="primary" routerLink="/main/disciplina/adicionar">
    <mat-icon class="mat-24" aria-label="Adicionar">
      add
    </mat-icon>
  </button>
</div>
