<form [formGroup]="form" fxLayout="column">

  <div fxLayoutAlign="space-between">
    <mat-form-field fxFlex="47">
      <mat-select formControlName="segmento" name="item" placeholder="Segmento">
        <mat-option *ngFor="let segmento of segmentos" [value]="segmento.id">
          {{ segmento.descricao }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['segmento'].hasError('required')">
        Esse campo é obrigatório!
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="47">
      <input autocomplete="descricao" matInput formControlName="descricao" placeholder="Descrição">
      <mat-error *ngIf="form.controls['descricao'].hasError('required')">
        Esse campo é obrigatório
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayoutAlign="space-between">
    <mat-form-field fxFlex="47">
      <input autocomplete="dataInicio" matInput [matDatepicker]="dataInicio" formControlName="dataInicio" placeholder="Data início">
      <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
      <mat-datepicker #dataInicio></mat-datepicker>
      <mat-error *ngIf="form.controls['dataInicio'].hasError('required')">
        Esse campo é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="47">
      <input autocomplete="dataTermino" matInput
        [matDatepicker]="dataTermino"
        formControlName="dataTermino"
        placeholder="Data término"
      >
      <mat-datepicker-toggle matSuffix [for]="dataTermino"></mat-datepicker-toggle>
      <mat-datepicker #dataTermino></mat-datepicker>
      <mat-error *ngIf="form.controls['dataTermino'].hasError('required')">
        Esse campo é obrigatório
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field fxFlex="80">
      <input autocomplete="urlLogo" matInput formControlName="urlLogo" placeholder="URL logo">
      <mat-error *ngIf="form.controls['urlLogo'].hasError('required')">
        Esse campo é obrigatório
      </mat-error>
    </mat-form-field>
    <div fxFlex="5">
        <img class="logo"
          [src]="form.value.urlLogo"
          alt="URL Logo"
          (error)="notFound($event)">
    </div>
  </div>

  <div>
    <mat-form-field fxFlex="80">
      <mat-select
        [(ngModel)]="professorSelecionado"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Professores"
      >
        <ng-container
          *ngFor="let professor of professores"
        >
          <mat-option
            *ngIf="!professor.selecionado"
            [value]="professor"
          >
            {{ professor.nome }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <button
      (click)="adicionarProfessor()"
      type="button"
      mat-fab
      color="primary"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-list>
    <mat-list-item
      *ngFor="let professor of form.value.professores"
    >
      <div matListIcon>
        <button
          type="button"
          (click)="removerProfessor(professor)"
          mat-mini-fab
          color="warn"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <h3 style="line-height: 40px" matLine>{{ nomeProfessor(professor) }}</h3>
    </mat-list-item>
  </mat-list>
  <br>
  <div
    fxFlex="100"
    fxLayout="row"
    fxLayoutAlign="space-between"
  >
    <button (click)="salvar()" [disabled]="!form.valid" mat-raised-button color="primary" type="button">
      {{ id ? 'Alterar' : 'Adicionar' }}
    </button>
    <button type="button" mat-raised-button color="warn" routerLink="/main/disciplina/consulta">
      Cancelar
    </button>
  </div>
</form>
